@page
@model IndexModel
@{
    ViewData["Title"] = "家";
}

<div class="text-center">
    <h1 class="display-4">Hello world!!</h1>
    <p>Learn about <a href="https://github.com/hocha113/CalamityOverhaul">这里是模组的开源库</a>.</p>
</div>
